<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
		<title>Munch page - {{title}}</title>
	{% else %}
		<title></title>
	{% endif %}
	<title></title>
</head>
<body>
	<!--
		curlypercent this is a for code block, also need an endfor to end a loop percentcurly
	-->
	{% for post in posts%}
		<h1>{{ post.title }}</h1>
		<!-- 
			To access a variable we need to do double open and close curly braces
		-->
		<p>By {{post.author}} at {{post.diningHall}}</p>
		<p>{{post.content}}</p>
		
	{% endfor%}

</body>
</html>