* {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15vh;
    padding: 0;
  }
:root{
    --ff-primary: 'Garamond', serif;
    --ff-secondary: 'Courier New', monospace;

    --clr-light: #fffff0;
    --clr-dark: #1e1e24;
    --clr-accent: #92140c;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    margin: 0;
    padding: 0;
}

.logo_div{
    background-color: var(--clr-accent);

    position: fixed;

    width: 100%;
    height: 15vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0px;
    top: 0;
}

.logo{
    position: relative;
    height: 190%;
    margin: 0px;
    padding: 0px;
}

.nav_div{
    background-color: var(--clr-dark);
    width: 100%;
    height: auto;

    text-align: center;

    position: fixed;
    top: 0;
}

.nav_list{
    list-style-type: none;
    position: relative;
    margin-top: 1%;
    top: 0; 
}

.nav_item{
    margin: 10px;
    display: inline-block;

    margin-left: 3%;
    margin-right: 3%;

    list-style-type: none;
    font-weight: bolder;
    font-size: 3dvh;

}

.nav_link{
    color: var(--clr-accent);
    text-decoration:none;

}

