* {
  margin-left: 0;
  margin-right: 0;
  margin-top: 15vh;
  padding: 0;
}
:root{
  --ff-primary: 'Garamond', serif;
  --ff-secondary: 'Courier New', monospace;

  --clr-light: #fffff0;
  --clr-dark: #1e1e24;
  --clr-accent: #92140c;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;

  margin: 0;
  padding: 0;
}


/* HEADER - logo and nav */
.logo_div{
  background-color: var(--clr-accent);

  position: fixed;

  width: 100%;
  height: 15vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;
  top: 0;
}

.logo{
  position: relative;
  height: 190%;
  margin: 0px;
  padding: 0px;
}

.nav_div{
  background-color: var(--clr-dark);
  width: 100%;
  height: auto;

  text-align: center;
  padding: 0%;

  position: fixed;
  top: 0;
}

.nav_list{
  list-style-type: none;
  margin-top: 1%;
  top: 0; 
}

.nav_item{
  margin: 10px;
  display: inline-block;

  margin-left: 3%;
  margin-right: 3%;

  height: 100%;

  list-style-type: none;
  font-weight: bolder;
  font-size: 3dvh;
}

.nav_item:hover{
  background-color: var(--clr-accent);

  .nav_link{
      color: var(--clr-dark);
  }
}

.nav_link{
  color: var(--clr-accent);
  text-decoration:none;

}

/* BODY - Current food at dining halls */

body{
  margin: 0;
}


.current_food_div{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

#current_food_title{
  color: var(--clr-dark);
  text-align: center;
  font-size: 5dvh;
}
@media (min-width: 910px) {
  #current_food_title{
    margin-top: 25vh;
  }
}
@media (max-width: 910px) {
  #current_food_title{
    margin-top: 30vh;
  }
}


#current_food_title::after{
  content: '';
  display: block;
  margin: auto;
  background-color: var(--clr-accent);
  width: 70%;
  height: 2px;
}


.current_dh_div{
  margin: 20px;
  height:fit-content;

  text-align: center;
  
  background-color: var(--clr-accent);
  border-radius: 10px;
  border-color: var(--clr-dark);
  border-width: 3px;

  justify-content: space-between;
  align-items: center;
  width:max-content;


}

.Current_dh_body{
  display: flex;
  margin: 0;
}

.current_dh{
  color: var(--clr-light);
  margin: 0%;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 2vw;
  margin-bottom: 1vw;

  font-size: 4dvh;
}

.current_dh::after{
  content: '';
  display: block;
  margin: auto;
  background-color: var(--clr-light);
  width: 100%;
  height: 2px;
  
}

.Carousel_Container{
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;


}
.Carousel-Button-Div{
  width: 5%;

  margin: 0;
  padding: 0;
}

.Station-Carousel{
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-between;
  display: flex;

}

.Station-Slide{
  width: 0;
  height: 0;
  
  
  transition: transform 0.3s ease;
  visibility: hidden;
}

.Station-Slide[data-active]{
  width: 100%;
  height: 100%;

  margin: 0%;
  
  transition: transform 0.3s ease;
  visibility: visible;


  text-align: center;
  align-items: center;
}

.Station-Card-Title{
  padding: auto;
  margin: 0;
}


.prev,.next{
  margin: 0;
  padding: 0;
  align-self: center;
  height: 30vh;
  width: 5vw;
  border-radius: 10%;

  color:  var(--clr-light);
  background-color: var(--clr-dark);
  outline-width: 0;

}
.prev:hover{
  color:  var(--clr-dark);
  background-color: var(--clr-light);
}
.next:hover{
  background-color: var(--clr-light);
  color:  var(--clr-dark);

}

.prev { left: 0; }
.next { right: 0; }


/* Footer */

.footer{
  background-color: var(--clr-dark);
  text-align: center;
  padding: 2vh;
  margin: auto;

  bottom: 0;
}

.last_update{
  color: var(--clr-accent);
  margin: 1vh;
  font-size: larger;

}

.footer_note{
  color: var(--clr-accent);
  font-size: larger;
  margin: 1vh;
}

.footer_link{
  list-style: none;
  color: var(--clr-accent);
}

.meal_sides_container {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meal_sides_item {
  flex: 0 0 calc(20% - 10px); /* Adjust width of items and gap between them */
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
}

.meal_with_background {
  background-image: url('testpic.jpeg');
  background-size: cover;
  background-position: center;
}
